work/*
.nextflow*
Manifest.toml
.vscode/
depot/
temp.jl
tmp/
.depot/
hs_err_pid*
replay_pid*
*.hpp
*.so
*lock*
.Rhistory
csvs/
julia-environment/output
julia-environment/pos_sample
julia-environment/results
